In [1]:
import pandas as pd

df = pd.read_csv("../titanic_train.csv")

#df.head(len(df))
df.head(50)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.0,1,1,PP 9549,16.7000,G6,S
11,12,1,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,C103,S
12,13,0,3,"Saundercock, Mr. William Henry",male,20.0,0,0,A/5. 2151,8.0500,NaN,S
13,14,0,3,"Andersson, Mr. Anders Johan",male,39.0,1,5,347082,31.2750,NaN,S
14,15,0,3,"Vestrom, Miss. Hulda Amanda Adolfina",female,14.0,0,0,350406,7.8542,NaN,S
15,16,1,2,"Hewlett, Mrs. (Mary D Kingcome)",female,55.0,0,0,248706,16.0000,NaN,S
16,17,0,3,"Rice, Master. Eugene",male,2.0,4,1,382652,29.1250,NaN,Q
17,18,1,2,"Williams, Mr. Charles Eugene",male,NaN,0,0,244373,13.0000,NaN,S
18,19,0,3,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",female,31.0,1,0,345763,18.0000,NaN,S
19,20,1,3,"Masselmani, Mrs. Fatima",female,NaN,0,0,2649,7.2250,NaN,C
20,21,0,2,"Fynney, Mr. Joseph J",male,35.0,0,0,239865,26.0000,NaN,S
21,22,1,2,"Beesley, Mr. Lawrence",male,34.0,0,0,248698,13.0000,D56,S
22,23,1,3,"McGowan, Miss. Anna ""Annie""",female,15.0,0,0,330923,8.0292,NaN,Q
23,24,1,1,"Sloper, Mr. William Thompson",male,28.0,0,0,113788,35.5000,A6,S
24,25,0,3,"Palsson, Miss. Torborg Danira",female,8.0,3,1,349909,21.0750,NaN,S
25,26,1,3,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...",female,38.0,1,5,347077,31.3875,NaN,S
26,27,0,3,"Emir, Mr. Farred Chehab",male,NaN,0,0,2631,7.2250,NaN,C
27,28,0,1,"Fortune, Mr. Charles Alexander",male,19.0,3,2,19950,263.0000,C23 C25 C27,S
28,29,1,3,"O'Dwyer, Miss. Ellen ""Nellie""",female,NaN,0,0,330959,7.8792,NaN,Q
29,30,0,3,"Todoroff, Mr. Lalio",male,NaN,0,0,349216,7.8958,NaN,S
30,31,0,1,"Uruchurtu, Don. Manuel E",male,40.0,0,0,PC 17601,27.7208,NaN,C
31,32,1,1,"Spencer, Mrs. William Augustus (Marie Eugenie)",female,NaN,1,0,PC 17569,146.5208,B78,C
32,33,1,3,"Glynn, Miss. Mary Agatha",female,NaN,0,0,335677,7.7500,NaN,Q
33,34,0,2,"Wheadon, Mr. Edward H",male,66.0,0,0,C.A. 24579,10.5000,NaN,S
34,35,0,1,"Meyer, Mr. Edgar Joseph",male,28.0,1,0,PC 17604,82.1708,NaN,C
35,36,0,1,"Holverson, Mr. Alexander Oskar",male,42.0,1,0,113789,52.0000,NaN,S
36,37,1,3,"Mamee, Mr. Hanna",male,NaN,0,0,2677,7.2292,NaN,C
37,38,0,3,"Cann, Mr. Ernest Charles",male,21.0,0,0,A./5. 2152,8.0500,NaN,S
38,39,0,3,"Vander Planke, Miss. Augusta Maria",female,18.0,2,0,345764,18.0000,NaN,S
39,40,1,3,"Nicola-Yarred, Miss. Jamila",female,14.0,1,0,2651,11.2417,NaN,C
40,41,0,3,"Ahlin, Mrs. Johan (Johanna Persdotter Larsson)",female,40.0,1,0,7546,9.4750,NaN,S
41,42,0,2,"Turpin, Mrs. William John Robert (Dorothy Ann ...",female,27.0,1,0,11668,21.0000,NaN,S
42,43,0,3,"Kraeff, Mr. Theodor",male,NaN,0,0,349253,7.8958,NaN,C
43,44,1,2,"Laroche, Miss. Simonne Marie Anne Andree",female,3.0,1,2,SC/Paris 2123,41.5792,NaN,C
44,45,1,3,"Devaney, Miss. Margaret Delia",female,19.0,0,0,330958,7.8792,NaN,Q
45,46,0,3,"Rogers, Mr. William John",male,NaN,0,0,S.C./A.4. 23567,8.0500,NaN,S
46,47,0,3,"Lennon, Mr. Denis",male,NaN,1,0,370371,15.5000,NaN,Q
47,48,1,3,"O'Driscoll, Miss. Bridget",female,NaN,0,0,14311,7.7500,NaN,Q
48,49,0,3,"Samaan, Mr. Youssef",male,NaN,2,0,2662,21.6792,NaN,C
49,50,0,3,"Arnold-Franchi, Mrs. Josef (Josefine Franchi)",female,18.0,1,0,349237,17.8000,NaN,S

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [3]:
nan_matrix = df.isnull()
print(nan_matrix.sum())

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [4]:
age_median = df["Age"].median()
cabin_mode = df["Cabin"].mode()[0]
embarked_mode = df["Embarked"].mode()[0]
#The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.
#For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object

df.fillna({"Age" : age_median, "Cabin" : cabin_mode, "Embarked" : embarked_mode}, inplace = True)
nan_matrix = df.isnull()
print(nan_matrix.sum())

PassengerId    0
Survived       0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Cabin          0
Embarked       0
dtype: int64

In [5]:
from sklearn.preprocessing import MinMaxScaler

scaler_Age = MinMaxScaler()
scaler_Pclass = MinMaxScaler()
scaler_SibSp = MinMaxScaler()
scaler_Parch = MinMaxScaler()
scaler_Fare = MinMaxScaler()

df["Age"] = scaler_Age.fit_transform(df[["Age"]])
df["Pclass"] = scaler_Pclass.fit_transform(df[["Pclass"]])
df["SibSp"] = scaler_SibSp.fit_transform(df[["SibSp"]])
df["Parch"] = scaler_Parch.fit_transform(df[["Parch"]])
df["Fare"] = scaler_Fare.fit_transform(df[["Fare"]])

In [6]:
df.head(50)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,1.0,"Braund, Mr. Owen Harris",male,0.271174,0.125,0.000000,A/5 21171,0.014151,B96 B98,S
1,2,1,0.0,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,0.472229,0.125,0.000000,PC 17599,0.139136,C85,C
2,3,1,1.0,"Heikkinen, Miss. Laina",female,0.321438,0.000,0.000000,STON/O2. 3101282,0.015469,B96 B98,S
3,4,1,0.0,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,0.434531,0.125,0.000000,113803,0.103644,C123,S
4,5,0,1.0,"Allen, Mr. William Henry",male,0.434531,0.000,0.000000,373450,0.015713,B96 B98,S
5,6,0,1.0,"Moran, Mr. James",male,0.346569,0.000,0.000000,330877,0.016510,B96 B98,Q
6,7,0,0.0,"McCarthy, Mr. Timothy J",male,0.673285,0.000,0.000000,17463,0.101229,E46,S
7,8,0,1.0,"Palsson, Master. Gosta Leonard",male,0.019854,0.375,0.166667,349909,0.041136,B96 B98,S
8,9,1,1.0,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,0.334004,0.000,0.333333,347742,0.021731,B96 B98,S
9,10,1,0.5,"Nasser, Mrs. Nicholas (Adele Achem)",female,0.170646,0.125,0.000000,237736,0.058694,B96 B98,C
10,11,1,1.0,"Sandstrom, Miss. Marguerite Rut",female,0.044986,0.125,0.166667,PP 9549,0.032596,G6,S
11,12,1,0.0,"Bonnell, Miss. Elizabeth",female,0.723549,0.000,0.000000,113783,0.051822,C103,S
12,13,0,1.0,"Saundercock, Mr. William Henry",male,0.246042,0.000,0.000000,A/5. 2151,0.015713,B96 B98,S
13,14,0,1.0,"Andersson, Mr. Anders Johan",male,0.484795,0.125,0.833333,347082,0.061045,B96 B98,S
14,15,0,1.0,"Vestrom, Miss. Hulda Amanda Adolfina",female,0.170646,0.000,0.000000,350406,0.015330,B96 B98,S
15,16,1,0.5,"Hewlett, Mrs. (Mary D Kingcome)",female,0.685851,0.000,0.000000,248706,0.031230,B96 B98,S
16,17,0,1.0,"Rice, Master. Eugene",male,0.019854,0.500,0.166667,382652,0.056848,B96 B98,Q
17,18,1,0.5,"Williams, Mr. Charles Eugene",male,0.346569,0.000,0.000000,244373,0.025374,B96 B98,S
18,19,0,1.0,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",female,0.384267,0.125,0.000000,345763,0.035134,B96 B98,S
19,20,1,1.0,"Masselmani, Mrs. Fatima",female,0.346569,0.000,0.000000,2649,0.014102,B96 B98,C
20,21,0,0.5,"Fynney, Mr. Joseph J",male,0.434531,0.000,0.000000,239865,0.050749,B96 B98,S
21,22,1,0.5,"Beesley, Mr. Lawrence",male,0.421965,0.000,0.000000,248698,0.025374,D56,S
22,23,1,1.0,"McGowan, Miss. Anna ""Annie""",female,0.183212,0.000,0.000000,330923,0.015672,B96 B98,Q
23,24,1,0.0,"Sloper, Mr. William Thompson",male,0.346569,0.000,0.000000,113788,0.069291,A6,S
24,25,0,1.0,"Palsson, Miss. Torborg Danira",female,0.095250,0.375,0.166667,349909,0.041136,B96 B98,S
25,26,1,1.0,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...",female,0.472229,0.125,0.833333,347077,0.061264,B96 B98,S
26,27,0,1.0,"Emir, Mr. Farred Chehab",male,0.346569,0.000,0.000000,2631,0.014102,B96 B98,C
27,28,0,0.0,"Fortune, Mr. Charles Alexander",male,0.233476,0.375,0.333333,19950,0.513342,C23 C25 C27,S
28,29,1,1.0,"O'Dwyer, Miss. Ellen ""Nellie""",female,0.346569,0.000,0.000000,330959,0.015379,B96 B98,Q
29,30,0,1.0,"Todoroff, Mr. Lalio",male,0.346569,0.000,0.000000,349216,0.015412,B96 B98,S
30,31,0,0.0,"Uruchurtu, Don. Manuel E",male,0.497361,0.000,0.000000,PC 17601,0.054107,B96 B98,C
31,32,1,0.0,"Spencer, Mrs. William Augustus (Marie Eugenie)",female,0.346569,0.125,0.000000,PC 17569,0.285990,B78,C
32,33,1,1.0,"Glynn, Miss. Mary Agatha",female,0.346569,0.000,0.000000,335677,0.015127,B96 B98,Q
33,34,0,0.5,"Wheadon, Mr. Edward H",male,0.824076,0.000,0.000000,C.A. 24579,0.020495,B96 B98,S
34,35,0,0.0,"Meyer, Mr. Edgar Joseph",male,0.346569,0.125,0.000000,PC 17604,0.160387,B96 B98,C
35,36,0,0.0,"Holverson, Mr. Alexander Oskar",male,0.522493,0.125,0.000000,113789,0.101497,B96 B98,S
36,37,1,1.0,"Mamee, Mr. Hanna",male,0.346569,0.000,0.000000,2677,0.014110,B96 B98,C
37,38,0,1.0,"Cann, Mr. Ernest Charles",male,0.258608,0.000,0.000000,A./5. 2152,0.015713,B96 B98,S
38,39,0,1.0,"Vander Planke, Miss. Augusta Maria",female,0.220910,0.250,0.000000,345764,0.035134,B96 B98,S
39,40,1,1.0,"Nicola-Yarred, Miss. Jamila",female,0.170646,0.125,0.000000,2651,0.021942,B96 B98,C
40,41,0,1.0,"Ahlin, Mrs. Johan (Johanna Persdotter Larsson)",female,0.497361,0.125,0.000000,7546,0.018494,B96 B98,S
41,42,0,0.5,"Turpin, Mrs. William John Robert (Dorothy Ann ...",female,0.334004,0.125,0.000000,11668,0.040989,B96 B98,S
42,43,0,1.0,"Kraeff, Mr. Theodor",male,0.346569,0.000,0.000000,349253,0.015412,B96 B98,C
43,44,1,0.5,"Laroche, Miss. Simonne Marie Anne Andree",female,0.032420,0.125,0.333333,SC/Paris 2123,0.081157,B96 B98,C
44,45,1,1.0,"Devaney, Miss. Margaret Delia",female,0.233476,0.000,0.000000,330958,0.015379,B96 B98,Q
45,46,0,1.0,"Rogers, Mr. William John",male,0.346569,0.000,0.000000,S.C./A.4. 23567,0.015713,B96 B98,S
46,47,0,1.0,"Lennon, Mr. Denis",male,0.346569,0.125,0.000000,370371,0.030254,B96 B98,Q
47,48,1,1.0,"O'Driscoll, Miss. Bridget",female,0.346569,0.000,0.000000,14311,0.015127,B96 B98,Q
48,49,0,1.0,"Samaan, Mr. Youssef",male,0.346569,0.250,0.000000,2662,0.042315,B96 B98,C
49,50,0,1.0,"Arnold-Franchi, Mrs. Josef (Josefine Franchi)",female,0.220910,0.125,0.000000,349237,0.034743,B96 B98,S

In [7]:
df = pd.get_dummies(df, columns = ["Sex", "Cabin", "Embarked"], drop_first = True)

In [8]:
df.head(len(df))

,PassengerId,Survived,Pclass,Name,Age,SibSp,Parch,Ticket,Fare,Sex_male,...,Cabin_F G63,Cabin_F G73,Cabin_F2,Cabin_F33,Cabin_F38,Cabin_F4,Cabin_G6,Cabin_T,Embarked_Q,Embarked_S
0,1,0,1.0,"Braund, Mr. Owen Harris",0.271174,0.125,0.000000,A/5 21171,0.014151,True,...,False,False,False,False,False,False,False,False,False,True
1,2,1,0.0,"Cumings, Mrs. John Bradley (Florence Briggs Th...",0.472229,0.125,0.000000,PC 17599,0.139136,False,...,False,False,False,False,False,False,False,False,False,False
2,3,1,1.0,"Heikkinen, Miss. Laina",0.321438,0.000,0.000000,STON/O2. 3101282,0.015469,False,...,False,False,False,False,False,False,False,False,False,True
3,4,1,0.0,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",0.434531,0.125,0.000000,113803,0.103644,False,...,False,False,False,False,False,False,False,False,False,True
4,5,0,1.0,"Allen, Mr. William Henry",0.434531,0.000,0.000000,373450,0.015713,True,...,False,False,False,False,False,False,False,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,0.5,"Montvila, Rev. Juozas",0.334004,0.000,0.000000,211536,0.025374,True,...,False,False,False,False,False,False,False,False,False,True
887,888,1,0.0,"Graham, Miss. Margaret Edith",0.233476,0.000,0.000000,112053,0.058556,False,...,False,False,False,False,False,False,False,False,False,True
888,889,0,1.0,"Johnston, Miss. Catherine Helen ""Carrie""",0.346569,0.125,0.333333,W./C. 6607,0.045771,False,...,False,False,False,False,False,False,False,False,False,True
889,890,1,0.0,"Behr, Mr. Karl Howell",0.321438,0.000,0.000000,111369,0.058556,True,...,False,False,False,False,False,False,False,False,False,False
890,891,0,1.0,"Dooley, Mr. Patrick",0.396833,0.000,0.000000,370376,0.015127,True,...,False,False,False,False,False,False,False,False,True,False

In [9]:
df.to_csv("after_lab1.csv", index=False)