In [1]:
import pandas as pd

df = pd.read_csv("../Lab1/after_lab1.csv")
df = df.drop(["Name", "Ticket"], axis = 1) #???
df.head(10)

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare,Sex_male,Cabin_A14,Cabin_A16,...,Cabin_F G63,Cabin_F G73,Cabin_F2,Cabin_F33,Cabin_F38,Cabin_F4,Cabin_G6,Cabin_T,Embarked_Q,Embarked_S
0,1,0,1.0,0.271174,0.125,0.000000,0.014151,True,False,False,...,False,False,False,False,False,False,False,False,False,True
1,2,1,0.0,0.472229,0.125,0.000000,0.139136,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,3,1,1.0,0.321438,0.000,0.000000,0.015469,False,False,False,...,False,False,False,False,False,False,False,False,False,True
3,4,1,0.0,0.434531,0.125,0.000000,0.103644,False,False,False,...,False,False,False,False,False,False,False,False,False,True
4,5,0,1.0,0.434531,0.000,0.000000,0.015713,True,False,False,...,False,False,False,False,False,False,False,False,False,True
5,6,0,1.0,0.346569,0.000,0.000000,0.016510,True,False,False,...,False,False,False,False,False,False,False,False,True,False
6,7,0,0.0,0.673285,0.000,0.000000,0.101229,True,False,False,...,False,False,False,False,False,False,False,False,False,True
7,8,0,1.0,0.019854,0.375,0.166667,0.041136,True,False,False,...,False,False,False,False,False,False,False,False,False,True
8,9,1,1.0,0.334004,0.000,0.333333,0.021731,False,False,False,...,False,False,False,False,False,False,False,False,False,True
9,10,1,0.5,0.170646,0.125,0.000000,0.058694,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [2]:
print(len(df))

891

In [3]:
from sklearn.model_selection import train_test_split

X_reg = df.drop(["Age"], axis = 1)
y_reg = df["Age"]
X_class = df.drop(["Survived"], axis = 1)
y_class = df["Survived"]

X_train_reg, X_test_reg, y_train_reg, y_test_reg = train_test_split(X_reg, y_reg, test_size = 0.4, random_state = 42)
X_train_class, X_test_class, y_train_class, y_test_class = train_test_split(X_class, y_class, test_size = 0.4, random_state = 42)

In [4]:
print(f"Len_X_train_reg = {len(X_train_reg)},Len_X_test_reg = {len(X_test_reg)}, Summa = {len(X_train_reg) + len(X_test_reg)} ")
print(f"Len_X_train_class = {len(X_train_class)},Len_X_test_class = {len(X_test_class)}, Summa = {len(X_train_class) + len(X_test_class)} ")

Len_X_train_reg = 534,Len_X_test_reg = 357, Summa = 891
Len_X_train_class = 534,Len_X_test_class = 357, Summa = 891

In [5]:
X_train_reg.head(5)

,PassengerId,Survived,Pclass,SibSp,Parch,Fare,Sex_male,Cabin_A14,Cabin_A16,Cabin_A19,...,Cabin_F G63,Cabin_F G73,Cabin_F2,Cabin_F33,Cabin_F38,Cabin_F4,Cabin_G6,Cabin_T,Embarked_Q,Embarked_S
570,571,1,0.5,0.000,0.000000,0.020495,True,False,False,False,...,False,False,False,False,False,False,False,False,False,True
787,788,0,1.0,0.500,0.166667,0.056848,True,False,False,False,...,False,False,False,False,False,False,False,False,True,False
74,75,1,1.0,0.000,0.000000,0.110272,True,False,False,False,...,False,False,False,False,False,False,False,False,False,True
113,114,0,1.0,0.125,0.000000,0.019177,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
635,636,1,0.5,0.000,0.000000,0.025374,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True

In [6]:
X_test_reg.head(5)

,PassengerId,Survived,Pclass,SibSp,Parch,Fare,Sex_male,Cabin_A14,Cabin_A16,Cabin_A19,...,Cabin_F G63,Cabin_F G73,Cabin_F2,Cabin_F33,Cabin_F38,Cabin_F4,Cabin_G6,Cabin_T,Embarked_Q,Embarked_S
709,710,1,1.0,0.125,0.166667,0.029758,True,False,False,False,...,False,False,False,False,False,False,False,False,False,False
439,440,0,0.5,0.000,0.000000,0.020495,True,False,False,False,...,False,False,False,False,False,False,False,False,False,True
840,841,0,1.0,0.000,0.000000,0.015469,True,False,False,False,...,False,False,False,False,False,False,False,False,False,True
720,721,1,0.5,0.000,0.166667,0.064412,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
39,40,1,1.0,0.125,0.000000,0.021942,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [7]:
X_train_class.head(5)

,PassengerId,Pclass,Age,SibSp,Parch,Fare,Sex_male,Cabin_A14,Cabin_A16,Cabin_A19,...,Cabin_F G63,Cabin_F G73,Cabin_F2,Cabin_F33,Cabin_F38,Cabin_F4,Cabin_G6,Cabin_T,Embarked_Q,Embarked_S
570,571,0.5,0.773813,0.000,0.000000,0.020495,True,False,False,False,...,False,False,False,False,False,False,False,False,False,True
787,788,1.0,0.095250,0.500,0.166667,0.056848,True,False,False,False,...,False,False,False,False,False,False,False,False,True,False
74,75,1.0,0.396833,0.000,0.000000,0.110272,True,False,False,False,...,False,False,False,False,False,False,False,False,False,True
113,114,1.0,0.246042,0.125,0.000000,0.019177,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
635,636,0.5,0.346569,0.000,0.000000,0.025374,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True

In [8]:
X_test_class.head(5)

,PassengerId,Pclass,Age,SibSp,Parch,Fare,Sex_male,Cabin_A14,Cabin_A16,Cabin_A19,...,Cabin_F G63,Cabin_F G73,Cabin_F2,Cabin_F33,Cabin_F38,Cabin_F4,Cabin_G6,Cabin_T,Embarked_Q,Embarked_S
709,710,1.0,0.346569,0.125,0.166667,0.029758,True,False,False,False,...,False,False,False,False,False,False,False,False,False,False
439,440,0.5,0.384267,0.000,0.000000,0.020495,True,False,False,False,...,False,False,False,False,False,False,False,False,False,True
840,841,1.0,0.246042,0.000,0.000000,0.015469,True,False,False,False,...,False,False,False,False,False,False,False,False,False,True
720,721,0.5,0.070118,0.000,0.166667,0.064412,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
39,40,1.0,0.170646,0.125,0.000000,0.021942,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [10]:
from sklearn.linear_model import LinearRegression

linear_model = LinearRegression()
linear_model.fit(X_train_reg, y_train_reg)
y_pred_test_reg = linear_model.predict(X_test_reg)

from sklearn.metrics import mean_squared_error, root_mean_squared_error, mean_absolute_error
MSE = mean_squared_error(y_test_reg, y_pred_test_reg)
RMSE = root_mean_squared_error(y_test_reg, y_pred_test_reg)
MAE = mean_absolute_error(y_test_reg, y_pred_test_reg)
print(f"MSE = {MSE}, RMSE = {RMSE}, MAE = {MAE}")

MSE = 0.021669416310581655, RMSE = 0.14720535421845787, MAE = 0.11251179053057427

In [15]:
from sklearn.linear_model import LogisticRegression

logreg_model = LogisticRegression()
logreg_model.fit(X_train_class, y_train_class)
y_pred_test_class = logreg_model.predict(X_test_class)

from sklearn.metrics import accuracy_score
accuracy_class = accuracy_score(y_test_class, y_pred_test_class)
print(accuracy_class)

0.7815126050420168

C:\Users\steps\Projects\BSU-AI\.venv\lib\site-packages\sklearn\linear_model\_logistic.py:473: ConvergenceWarning: lbfgs failed to converge after 100 iteration(s) (status=1):
STOP: TOTAL NO. OF ITERATIONS REACHED LIMIT

Increase the number of iterations to improve the convergence (max_iter=100).
You might also want to scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(